<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/*.Designer.cs,**/*.g.cs,**/*.g.i.cs,**/obj/**,**/bin/**</ExcludeByFile>
          <Exclude>[*.Tests]*,[xunit.*]*,[MSTest.*]*,[Microsoft.VisualStudio.*]*</Exclude>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
